body {
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 62px;
}

.navbar-custom {
    background-color: #00BCD4;
}

.navbar > .navbar-brand {
    margin-left: 20px;
}

.logo-font {
    font-family: Pacifico, monospace, sans-serif;
    font-size: 1.5rem;
}

.icons {
    font-size: 1.5rem;
    margin-right: 20px;
}

.icons > i {
    margin: 0 15px;
    cursor: pointer;
}

.content-container {
    height: calc(100% - 62px);
    width: 100%;
}

.sidebar,
.content {
    height: 100%;
}

.content {
    width: 83%;
    overflow: auto;
}

.sidebar {
    width: 17%;
    background-color: #ECEFF1;
}

.sidebar ul {
    margin-top: 20px;
    list-style: none;
}

.sidebar ul li {
    cursor: pointer;
    font-size: 1.25rem;
}

.sidebar ul li span {
    margin-left: 15px;
}

.dropdown-nav {
    z-index: 999;
    overflow-y: visible;
}

.dropdown > .dropdown-toggle {
    margin-right: 200px;
}

.dropdown-menu {
    position: absolute !important;
}

.navbar > h2 {
    margin-left: 20px;
}

.accordion-button > .text-muted {
    margin-left: 20px;
}

.status {
    font-size: 0.8rem;
    height: 1rem;
    width: 90px;
}

.priority {
    width: 70px;
    margin-right: 20px;
}

.high-priority {
    background-color: purple;
}

.md-priority {
    background-color: orange;
}

.info-container {
    width: 90%;
}

.big {
    font-size: 1.4rem;
    width: 300px;
}

.small {
    font-size: 1.2rem;
    margin-right: 10px;
    color: gray;
}

.notes {
    font-size: 0.9rem;
}

.project-todo {
    margin-top: 10px;
}

.todo-circle {
    margin: 0 15px;
    cursor: pointer;
}

.project-link {
    cursor: pointer;
}

.due-date {
    margin-left: 30px;
}

.buttons-container {
    margin-right: 40px;
}

.badge-pos {
    top: 25%;
    left: 75%;
}