body {
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 62px;
}

.navbar-custom {
    background-color: #00BCD4;
}

.navbar > .navbar-brand {
    margin-left: 20px;
}

.logo-font {
    font-family: Pacifico, monospace, sans-serif;
    font-size: 1.5rem;
}

.icons {
    font-size: 1.5rem;
    margin-right: 20px;
}

.icons > i, 
.icons > .dropdown {
    margin: 0 20px;
    cursor: pointer;
}

.content-container {
    height: calc(100% - 62px);
    width: 100%;
}

.sidebar,
.content-box {
    height: 100%;
}

.content-box {
    width: 81%;
    overflow: auto;
}

.sidebar {
    width: 19%;
    background-color: #ECEFF1;
}

.sidebar ul {
    margin-top: 20px;
    list-style: none;
}

.sidebar ul li {
    font-size: 1.25rem;
}

.sidebar ul li span {
    margin-left: 15px;
    cursor: pointer;
}

.sidebar ul li i {
    cursor: pointer;
}

.dropdown-nav {
    z-index: 999;
    overflow-y: visible;
}

.dropdown > .dropdown-toggle {
    margin-right: 30px;
}

.dropdown-menu {
    position: absolute !important;
}

.navbar > h2 {
    margin-left: 20px;
}

.accordion-button > .text-muted {
    margin-left: 20px;
}

.status {
    font-size: 0.8rem;
    height: 1rem;
    width: 90px;
}

.priority {
    width: 70px;
    margin-right: 20px;
}

.high-priority {
    background-color: #512DA8;
}

.md-priority {
    background-color: #FF6F00;
}

.info-container {
    width: 90%;
}

.big {
    font-size: 1.4rem;
    width: 300px;
}

.small {
    font-size: 1.2rem;
    margin-right: 10px;
    color: gray;
}

.notes {
    font-size: 0.9rem;
}

.project-todo {
    margin-top: 10px;
}

.todo-circle {
    margin: 0 15px;
    cursor: pointer;
}

.due-date {
    margin-left: 30px;
}

.buttons-container {
    margin-right: 40px;
}

.badge-pos {
    top: 25%;
    left: 75%;
}

.bg-notification {
    background-color: #E0E0E0;
}

.divider {
    border: 1px solid #F5F5F5;
}

.bg-notification > li > a {
    color: #4F4F4F;
}

.width {
    width: 335px;
}

.remaining-width {
    width: calc(100% - 355px);
}

.sub-todo {
    margin-left: 30px;
    width: 305px;
}

.subheading {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.todos-page {
    margin-left: 30px;
}

.icon-size {
    margin: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.todo-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.nothing {
    height: 500px;
    font-size: 1.75rem;
    color: #BDBDBD
}

.name {
    font-size: 1.25rem;
}