.navbar-custom {
    background-color: #20c997;
}

.navbar > .navbar-brand {
    margin-left: 20px;
}

.logo-font {
    font-family: Pacifico, monospace, sans-serif;
    font-size: 1.5rem;
}

.icons {
    font-size: 1.5rem;
    margin-right: 20px;
}

.icons > i {
    margin: 0 15px;
    cursor: pointer;
}